.searchWrapper{
    margin: 5px 2%;
    background-color: #f0f0f0;
    padding: 0 10px;
    height: 40px;
    width: 98%;
    max-width: 390px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

    input{
        all: unset;
        width: 90%;
        height: 100%;
        padding: 0 5px;
    }
}